body {
    margin: 0;
    font-family: 'Helvetica Now', sans-serif;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li {
    margin: 0 10px;
}